.gap-3 {
  gap: 1rem;
}

.bg-white-10 {
  background-color: rgba(255, 255, 255, 0.1);
}

.card {
  box-shadow: 0 0 20px 0 rgba(76, 87, 125, 0.02);
}

.card-footer {
  padding: 0.75rem 1.25rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
