<!--Main Content-->
<div class="container">   
    
    <div class="login-register pt-2">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
                <div class="inner h-100">
                    <form class="customer-form">	
                        <h2 class="text-center fs-4 mb-3">¡Bienvenido al Dropi de España!</h2>
                        <p class="text-center mb-4">Ingrese sus Credenciales</p>
                        <div class="form-row">
                            <div class="form-group col-12">
                                <label for="CustomerEmail" style="font-weight: 600;">Email</label>
                                <input type="email" name="email" [(ngModel)]="email" placeholder="Email" class="form-control" value="" required />
                            </div>
                            <div class="form-group col-12">
                                <label for="CustomerPassword" style="font-weight: 600;">Password</label>
                                <input type="password" name="password" [(ngModel)]="password" placeholder="Password" class="form-control"  value="" required />                        	
                            </div>
                            <!-- Campo oculto -->
                            <input type="text" class="d-none" name="white_brand_id" [(ngModel)]="white_brand_id" />
                            <div class="form-group col-12 mb-0">
                                <button type="button" class="btn btn-info btn-lg w-100" (click)="login()" [disabled]="this._dropiService.isLoadingSubject | async">
                                    <span class="px-3" *ngIf="this._dropiService.isLoadingSubject | async; else buttonText">
                                        <span class="spinner spinner-white"></span>
                                    </span>
                                    <ng-template #buttonText>
                                        Conectar
                                    </ng-template>
                                </button>
                            </div>
                            <div class="form-group col-12 mt-3" *ngIf="validErrorMessageAuthentication">
                                <p class="text-danger">Error en la autenticación. Vuelva a intentarlo.</p>
                            </div>

                            <div class="form-group col-12 mt-4" *ngIf="validSuccessMessageAuthentication">
                                <p class="text-info">Ha ingresado al sistema correctamente. <a style="text-decoration: underline;font-weight: 700;" class="text-info" routerLink="/products/list-all-products">Ir a la lista de productos</a></p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Main Content-->