/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700");
// Global vendors
@import "~bootstrap/dist/css/bootstrap.css";
// => Material
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~highlight.js/styles/googlecode.css";
@import "~perfect-scrollbar/css/perfect-scrollbar.css";

// Global fonts
@import "~socicon/css/socicon.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "./assets/plugins/flaticon/flaticon.css";
@import "./assets/plugins/flaticon2/flaticon.css";
@import "./assets/plugins/keenthemes-icons/font/ki.css";

// Metronic styles (replace these path when using RTL css below)
@import "./assets/sass/style.angular.scss";

// For RTL, check this documentation https://keenthemes.com/metronic/?page=docs&section=angular-rtl
// @import "./assets/sass/style.angular.rtl.css";

// Default Layout themes
@import "./assets/sass/themes/layout/header/base/light.scss";
@import "./assets/sass/themes/layout/header/menu/light.scss";
@import "./assets/sass/themes/layout/brand/dark.scss";
@import "./assets/sass/themes/layout/aside/dark.scss";

// Header themes
// .header-base-light {
//     @import "./assets/sass/themes/layout/header/base/light.scss";
// }

// .header-base-dark {
//     @import "./assets/sass/themes/layout/header/base/dark.scss";
// }

// Header Menu themes
// .header-menu-light {
//     @import "./assets/sass/themes/layout/header/menu/light.scss";
// }
// .header-menu-dark {
//     @import "./assets/sass/themes/layout/header/menu/dark.scss";
// }

// Brand themes
.brand-dark {
  @import "./assets/sass/themes/layout/brand/dark.scss";
}

.brand-light {
  @import "./assets/sass/themes/layout/brand/light.scss";
}

// Aside themes
// .aside-dark {
//   @import "./assets/sass/themes/layout/aside/dark.scss";
// }

// .aside-light {
//   @import "./assets/sass/themes/layout/aside/light.scss";
// }

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
  display: none !important;
}

.angular-bootstrap-table {
  overflow-x: auto;
}
.angular-bootstrap-table {
  th {
    outline: none;

    &.sortable {
      .svg-icon-sort {
        opacity: 0;
      }

      &:hover {
        cursor: pointer;

        .svg-icon-sort {
          opacity: 1;
        }
      }
    }
  }

  .table.table-head-custom thead th.sortable-active {
    color: #3699FF !important;
  }
}

.cursor-default {
  cursor: default !important;
}

.progress-modal {
  height: 3px;
  width: 100%;
}

// Color Variants

.product-variation {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.product-variation .title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 0;
  min-width: 114px;
}



.color-variant {
  margin: -5px -2px;
  display: flex;
  flex-wrap: wrap;
}

.product-variation .color-variant li {
  margin: 5px;
}

.product-variation .color-variant li>span .color {
  width: 11px;
  height: 11px;
}


.color-variant li>span .color {
  display: block;
  width: 24px;
  height: 24px;
  line-height: 1;
  border-radius: 50%;
  border: none;
}



.color-variant li {
  margin: 5px 2px;
  cursor: pointer;
}

.product-variation .color-variant li>span .color {
  width: 11px;
  height: 11px;
}

.color-variant li.color-extra-02 span .color {
  background: #5f8af7;
}

// ========================================
// OVERRIDE METRONIC CONTAINER MAX-WIDTH
// ========================================
// Aumentar el ancho máximo del container para todos los módulos
// Default Metronic: max-width: 1340px en 1400px+
// Nuevo: max-width más ancho para mejor aprovechamiento del espacio

@media (min-width: 1400px) {
  .container-xxl, 
  .container-xl, 
  .container-lg, 
  .container-md, 
  .container-sm, 
  .container {
    max-width: 1640px !important; // ✅ +300px más ancho (antes 1340px)
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .container-xxl, 
  .container-xl, 
  .container-lg, 
  .container-md, 
  .container-sm, 
  .container {
    max-width: 1140px !important; // ✅ Bootstrap default para XL
  }
}
